[submodule "ExternalLibraries/PHP_OpenID/current"]
	path = ExternalLibraries/PHP_OpenID/current
	url = https://github.com/openid/php-openid.git
[submodule "ExternalLibraries/TwitterHelper/current"]
	path = ExternalLibraries/TwitterHelper/current
	url = git://github.com/themattharris/tmhOAuth.git
[submodule "Media/jQueryClock"]
	path = Media/jQueryClock
	url = https://github.com/dsparling/jclock.git
