/.buildpath
/.project
/.settings
/nbproject/private/
/nbproject
/DOCS/
/.phpcs/
/.htaccess
/config/demo.sqlite
/config/unittest.sqlite*
/config/unittest_gammu.sqlite*
/Media/JQM/
/Media/jquery.mobile-*/
/Media/images/
/Media/sketchdock-*/
/config/default.php
/config/gammu.php
/Vagrant/.vagrant
